%tr{:"data-id" => document.id}
  %td
    %h5.title
      %a{:href => "#"}= item.highlight.try(:[], :title).try(:first).try(:html_safe)
  - if item.highlight && pages = item.highlight.to_hash.keys.grep(/^\d+$/).map { |p| p.to_s.to_i }
    %ul.highlights
      - pages.sort.each do |page_num|
        %li
          %a{:href => "/documents/#{document.id}/comb##{page_num}"}
            %b= "p.#{page_num}"
          = "..."
          = item.highlight[page_num.to_s].first.gsub("\n", " ").html_safe

