-# encoding: utf-8
- content_for :javascripts do
  = javascript_include_tag "documents.js"

%header
  .subnav.subnav-fixed
    %ul.nav.nav-pills
      %li{:class => active_on_documents_page}
        = show_count(@documents, @results)
      %li{:class => active_on_new_document_page}
        %a{:href => new_document_path}= t "new_document"

.row-fluid
  .content.documents
    .row-fluid
      .alert.fade.in.alert-success#stillProcessing{:style => 'display: none;'}
        %a.close{:href => '#', 'data-dismiss' => 'alert'}×
        %strong
          Recuerde que el procesamiento de tareas puede tomar algunos minutos.
    .row-fluid
      %table{:class => 'table documents'}
        %thead
          %tr
            - if @results.nil?
              %th{:style => "width: 10px"}
            %th{:style => "width: 70px"}
            %th.sort
              Ordenar por
              = sorteable('created_at', 'Fecha')
              o
              = sorteable('title', 'Título')
        %tbody
          - if @results.nil?
            = render @documents
          - else
            - @results.each do |item, document|
              = render "result", item: item, document: document
- content_for :sidebar do
  %ul.nav.nav-list#sidebar
    %li.nav-header Filtros de búsqueda
    %li
      = form_tag(search_documents_path, method: 'get', class: 'navbar-search.pull-left', id: 'document_search') do
        %input.search-query{name: "q", value: params[:q], type: "search", placeholder: "Buscar por título o contenido"}
        %input#document_ids{name: 'ids', type: 'hidden'}
        %button.btn{type: "submit", id: 'submit_search'} Buscar

    %li.nav-header Contexto
    %li
      #context
        .alert.alert-info
          Haga clic en un documento para ver más información


%script#documentContextError{:type => "text/template"}
  .alert.alert-error
    Ocurrió un error al obtener información de contexto del documento.

%script#documentContext{:type => "text/template"}
  = render 'context_tabs'

%script#projectsList{type: "text/template"}
  :plain
    <li class="nav-header">Proyectos</li>
    <% _.each(projects, function(project){ %>
      <li>
        <a href="/documents?project_id=<%= project._id %>"><%= project.name %></a>
        <ul class="project-docs">
          <% _.each(project.documents, function(document){ %>
            <li><%= document.document.title %></li>
          <% }); %>
          <a href="/projects/<%= project._id %>/timeline">Ver línea de tiempo</a>
        </ul>
      </li>
    <% }); %>
    </li>
    <li class="nav-header">Contexto</li>
    <li>
      <div id="context">
        <div class="alert alert-info">
          Haga click en un documento para ver más información
        </div>
      </div>
    </li>
