%header
  .subnav.subnav-fixed
    %ul.nav.nav-pills
      %li{:class => current_page?(documents_path) ? "active" : nil}
        %a{:href => documents_path}= t "all_documents"
      %li{:class => current_page?(new_document_path) ? "active" : nil}
        %a{:href => new_document_path}= t "new_document"

- content_for :free do
  .row-fluid
    .span4
      %h1 Importar documento
      = simple_form_for @document do |f|
        = f.input :title
        = f.input :file, :as => :file
        = f.button :submit
