<div class="full-height subtraction-item subtraction-0 toolbar clearfix">
  <div class="full-height-truecontent toolbar-content">
    <div class="group-a">
      <div class="help clearfix">
        <div tabindex="1" class="help-list wrapper-dropdown" id="help-list">
          <span><a href="#"></a></span>
          <ul class="dropdown">
            <li>
              <i class=""></i>
              <a href='/about'>Nosotros</a>
            </li>
            <li>
              <i class=""></i>
              <a href='/terms'>Términos de uso</a>
            </li>
            <li>
              <i class=""></i>
              <a href='/contact'>Contacto</a>
            </li>
            <li>
              <i class=""></i>
              <a rel="nofollow" data-method="delete" href="/users/sign_out">Cerrar sesión</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="menu-icon"></div>
      {{#if showDocumentStats}}
      <div class="tool tool-doc-online">
        <a>
          <div class="icon"></div>
          <label class="value">{{counter.online}}</label>
        </a>
      </div>
      <div class="tool tool-doc-selected">
        <a>
          <div class="icon"></div>
          <label class="value ttt">{{counter.selected}}</label>
        </a>
      </div>
      {{/if}}
    </div>
    <div class="group-b">
      <div class="tool tool-people">
        <a data-menu="people">
          <div class="icon"></div>
          <label class="value">{{counter.people}}</label>
        </a>
      </div>
      <div class="tool tool-organizations">
        <a data-menu="organizations">
          <div class="icon"></div>
          <label class="value">{{counter.organizations}}</label>
        </a>
      </div>
      <div class="tool tool-places">
        <a data-menu="places">
          <div class="icon"></div>
          <label class="value">{{counter.places}}</label>
        </a>
      </div>

      <div class="tool tool-dates">
        <a data-menu="dates">
          <div class="icon"></div>
          <label class="value">{{counter.dates}}</label>
        </a>
      </div>
      
    </div>
  </div>
</div>

<div class="menu-modal full-height subtraction-item subtraction-1 drawer clearfix">

  <div class="full-height-truecontent">
    <div class="header drawer-header"></div>
    <div class="content drawer-content"></div>
  </div>
</div>