%tr{:"data-id" => document.id, :class => (document.failed? && 'failed')}
  %td{:style => "width: 70px"}
    %a.thumbnail{:href => "#"}
      %img{:src => thumbnail_url(document)}
  %td
    %h5.title
      %a{:href => "#"}= item.highlight.try(:[], :title).try(:first).try(:html_safe) || document.title

    .info
      - if document.category
        = document.category
        &ndash;
      = localize(document._id.generation_time.to_date, format: :short_b)

    - if item.highlight && pages = item.highlight.to_hash.keys.grep(/^\d+$/).map { |p| p.to_s.to_i }
      %ul.highlights
        - pages.sort.each do |page_num|
          %li
            %a{:href => "/documents/#{document.id}/comb##{page_num}"}
              %b= "p.#{page_num}"
            = "..."
            = item.highlight[page_num.to_s].first.gsub("\n", " ").html_safe

    .tools
      %a{:href => "/documents/#{document.id}/comb", :class => (document.readable? ? nil : "disabled")}
        %i.icon-edit{:title => "Ver"}
        %span Ver
      %a{:href => "/documents/#{document.id}/download"}
        %i.icon-download-alt{:title => "Descargar"}
        %span Descargar
      - if current_user
        - unless single_project_view?
          = link_to "#", document_id: document.id, class: "add_to_project", data: {"document-id" => document.id.to_s} do
            %i.icon-plus{:title => "Agregar a un proyecto"}
            %span Agregar a un proyecto
      .dropdown{:style => "display: inline"}
        %a.dropdown-toggle{:href => '#', :'data-toggle' => 'dropdown'}
          %i.icon-file{:title => 'Exportar a CSV'}
          %span Exportar a CSV
        %ul.dropdown-menu{:role => 'menu', :'aria-labelledby' => 'dLabel'}
          %li
            %a{:href => "/documents/#{document.id}/export?class=people"} Personas
          %li
            %a{:href => "/documents/#{document.id}/export?class=places"} Lugares
          %li
            %a{:href => "/documents/#{document.id}/export?class=dates"} Fechas
          %li
            %a{:href => "/documents/#{document.id}/export?class=organizations"} Organizaciones

    - if document.completed?
      .hidden{:style => "display: none;"}
        .progress.progress-striped.active
          .bar{:style => "width: 100%;"}
    - else
      .progress.progress-striped.active
        .bar{:style => "width: #{document.percentage}%;"}
