<style>
  .date{
    color:red
  }
  .name {
    color: blue
  }
  .address {
    color: green
  }
  #add_milestone{
    display:none;
    width:700px;
    height:200px;
    border:1px;
    background-color:#aaa;
    font-size:small;
  }
  #map{
    height:200px;
    width:200px;
  }
  .<%=ActiveSupport::Inflector.parameterize(@person.name)%>{
    font-weight:bold;
  }

  /* TODO: pasara a un css */
  /* Estilos para el layout de la pantalla */
  body {
    background: #666;
    padding: 0;
    margin: 0;
  }
  #pane-container {
    float: left;
  }
  #fragment-pane {
    float: left;
    width: 950px;
    padding: 20px;
    border: 0;
    font-family: sans-serif;
    font-size: 14px;
    background: white;
    border-left: 3px solid #555;
    border-right: 3px solid #555;
  }

  #milestone-pane {
    float: left;
    width: 300px;
    border: 0;
    padding: 20px 0;
    background: #666;
    color: white;
    font-family: sans-serif;
    font-size: 14px;
    height: 100%;
  }

  #milestone-pane ul {
    padding: 0;
  }
  #milestone-pane ul li {
    list-style-type: none;
  }

  #milestone-pane ul li {
    border-top: 1px solid #777;
    border-bottom: 1px solid #666;
    padding: 15px 5px;
  }

  /* para todo lo que está marcado */
  span.name, .date, span.address { cursor: pointer; }
  .date { border: 2px solid white; }
  .date:hover { border: 2px solid yellow; }

  /* clases genericas */
  /* float clearing for IE7 */
  *+html .clearfix{
    min-height: 1%;
  }

  /* float clearing for everyone else */
  .clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    font-size: 0;
  }
  .clickable { cursor: pointer; }


</style>
<link type="text/css" href="/javascripts/css/ui-lightness/jquery-ui-1.8.13.custom.css" rel="Stylesheet" />
<script src="/javascripts/js/jquery-ui-1.8.13.custom.min.js"></script>
<script src="/javascripts/js/admin/person.js"></script>

<div id="pane-container" class="clearfix">

  <!-- Listado de Hitos -->
  <div id="milestone-pane">
    <h2>Hitos guardados <button id='update_milestones' data-person-id='<%=@person.id%>'>R</button></h2>
		<ul id='milestones'>
		</ul>
  </div>

  <!-- Listaod de fratmentos -->
  <div id="fragment-pane">
	  <h2><%=@person.name.titleize%></h2>
		<ol id='milestones'>
		  <%@person.milestones.each{|milestone|%>
			<li><%=milestone.date_from%> - <%=milestone.date_to%> - <%=milestone.what%> - <%=milestone.where%>  - 
		  <%}%>
		</ol>

	  <ol style="list-style-type:round">
		<%@fragments.each{|parte|%>
		  <li id='<%=parte.context(400).fragment_id%>' >
			<button class='more'> + </button>
			<button class='less'> - </button>
			<button class='up'>^</button>
			<button class='down'>v</button>
			<p class='fragment'><%=markup_fragment(parte.context(400))%></p>
		  </li>
		<%}%>
	  </ol>
  </div>
</div>
  <!-- Formulario para agregar milestones -->
  <div id='add_milestone'>
      <form method="post" action="<%=url_for(:doc_admin_person, :id => @person.id, :doc_id => @doc.id)%>">
      <input type='hidden' name='person[milestones][][id]' value='' /><br />
      <input type='hidden' name='person[milestones][][date_from]' id='milestone_date_from' /><br />
      <input type='hidden' name='person[milestones][][date_to]' id='milestone_date_to' /><br />
      Date From <input type='text'  id='milestone_human_date_from' /><br />
      Date To <input type='text'  id='milestone_human_date_to' /><br />
      What <%=select_tag "person[milestones][][what_opc]",:options => @what%> <input type='text' name='person[milestones][][what_txt]' /><br />
      Where <%=select_tag "person[milestones][][where_opc]",:options => @where, :id=> "milestone_where_opc"%> <input type='text' name='person[milestones][][where_txt]' id="milestone_where_txt" /><br /> 
      Source <input type='text'name='person[milestones][][source]' id="milestone_source" /><br />
      <input type='submit' value='Guardar' />
    </form>
  </div>

<!-- vim: se ts=2 sw=2 expandtab: -->
