<div id="pane-container" class="clearfix">

  <!-- Listado de Hitos -->
  <div id="milestone-pane" data-person-id='<%=@person.id%>'>
    <h2>Hitos guardados <button id='update_milestones'>R</button></h2>
		<ul id='milestones'>
		</ul>
  </div>

  <!-- Listaod de fratmentos -->
  <div id="fragment-pane">
    <h2><%=@person.name.titleize%></h2> (<%=link_to @doc.title, url_for(:doc_admin_index, :doc_id => @doc.id)%>)
    <ol id='tags' class='clearfix'>
    <%{tortur: "tortura", secuestr: "secuestro", asesin: "asesinato", transla: "translados", viola:"violacion"}.each{|search,name|%>
        <li data-search=<%=search.to_json%>><%=name%> <span class='count' />
    <%}%>
    </ol>

	  <ol style="list-style-type:round">
		<%@fragments.each{|parte|%>
		  <li id='<%=parte.context(400).fragment_id%>' >
			<button class='more'> + </button>
			<button class='less'> - </button>
			<button class='up'>^</button>
			<button class='down'>v</button>
			<p class='fragment'><%=markup_fragment(parte.context(400))%></p>
		  </li>
		<%}%>
	  </ol>
  </div>
</div>

  <!-- Formulario para agregar milestones -->
  <div id="add_milestone">
      <form method="post" target='res' action="<%=url_for(:doc_admin_person, :id => @person.id, :doc_id => @doc.id)%>">

      <input type='hidden' name='person[milestones][0][id]' id='milestone_id' value='' />

      <div class="field-label">Date From</div><div class="field-input"><input type='text' name='person[milestones][0][date_from]' id='milestone_date_from' /></div>
      <div class="field-label">Date To</div><div class="field-input"><input type='text' name='person[milestones][0][date_to]' id='milestone_date_to' /></div>
      <div class="field-label">What</div><div class="field-input"><%=select_tag "person[milestones][0][what_opc]",:options => @what, :id => "milestone_what_opc"%><input type='text' name='person[milestones][0][what_txt]' id='milestone_what_txt' /></div>
      <div class="field-label">Where</div><div class="field-input"><%=select_tag "person[milestones][0][where_opc]",:options => @where, :id=> "milestone_where_opc"%><input type='text' name='person[milestones][0][where_txt]' id="milestone_where_txt" /></div>
      <div class="field-label">Source</div><div class="field-input"><input type='text'name='person[milestones][0][source]' id="milestone_source" /></div>
      <br /><br />

      <input type='submit' value='Guardar' />
      <button id='del_milestone'>Delete</button>
    </form>
    <iframe name='res' width="450" height="80" src=''></iframe>
  </div>

<!-- vim: se ts=2 sw=2 expandtab: -->
