<h1>Importar doc</h1>
<%form_tag url_for(:admin_import),:method => "PUT", :multipart => true do %>
  <% field_set_tag do %>
    <%= label_tag :title %>
    <%= text_field_tag :title %>

    <%= label_tag :URL %>
    <%= text_field_tag :url %>

    <%= label_tag :text %>
    <%= text_area_tag :text %>
    
    <%= submit_tag :guardar %>

  <% end %>
<%end%>

