.main-content.registration.clearfix
  .content.clearfix
    %h1 Registraci칩n
    = form_for resource, ad: resource_name, url: registration_path(resource_name), builder: PrettyFormBuilder, id: 'registration-form' do |f|
      = f.pretty_text_field :username, placeholder: 'Nombre *'
      = f.pretty_text_field :email, placeholder: 'Email *'
      = f.pretty_text_field :organization, placeholder: 'Organizaci칩n'
      = f.pretty_password_field :password, placeholder: 'Contrase침a *'
      = f.pretty_password_field :password_confirmation, placeholder: 'Confirmar contrase침a *'
      %br
      = f.submit 'Ingresar'
    = render "devise/shared/links"

  = render 'shared/us_sidebar'
