.row-fluid{style: "margin-top: 3em"}
  .span4.offset7
    %h2= t("sessions.sign_up")

    = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
      = f.error_notification

      .form-inputs
        = f.input :email, :required => true, :autofocus => true
        = f.input :password, :required => true
        = f.input :password_confirmation, :required => true

      .form-actions
        = f.button :submit, t("sessions.sign_up")

    = render "devise/shared/links"
