<div style="float: left;">
  <input type="checkbox" class="selection" {{#if selected}}checked{{/if}}>
  <label>{{title}}</label>
  <br/>
  <span>{{formatDate created_at}}</span>
  <br/>
  {{#if percentage}}
  <span>[{{percentage}}%]</span>
  {{/if}}
  {{#if highlights}}
  <div class="highlights"></div>
  {{/if}}
</div>

<div class="item-menu">
  <ul>
    <li>
      <a class="preview" href="{{urls.preview}}">V</a>
    </li>
    <li>
      <a class="flag">F</a>
    </li>
    <li>
      <a class="export" href="{{urls.export}}" target="_blank">E</a>
    </li>
    <li>
      <a class="download" href="{{urls.file}}" target="_blank">D</a>
    </li>
    <li>
      <a class="delete">R</a>
    </li>
  </ul>
</div>