<div class="checkbox-title">
  <label class="doc-name {{#if failed}}error{{/if}}">
    <input type="checkbox" class="selection" {{#if selected}}checked{{/if}}>
    {{#if failed}}
      No se pudo guardar el documento. Puede haber excedido el límite.
    {{else}}
      {{title}}
    {{/if}}
  </label>
</div>
<div class="date-and-controls">
  <div class="doc-date">{{formatDate created_at}}</div>
  {{#if showProgress}}
    <div class="progress-bar {{progressType}}">
      <label>{{status_msg}}</label>
      {{#if showSpinner}}
        <div class="docs-loader">
          <img src="/images/docs-loader.gif">
        </div>
      {{/if}}
    </div>
    {{#if showFlag}}
      <a class="flag">Reportar</a>
    {{/if}}
    {{#if showErrorMessage}}
      <i>Este documento no pudo ser procesado</i>
    {{/if}}
  {{else}}
    <div class="tools">
      <a class="tool tool-1 preview" href="{{urls.preview}}" title="Abrir documento"></a>
      {{#if downloadable}}
      <a class="tool tool-3 download" href="{{urls.file}}" target="_blank" title="Bajar documento"></a>
      {{/if}}
      {{#if deleteable}}
      <a class="tool tool-4 delete" title="Borrar documento"></a>
      {{/if}}
    </div>
  {{/if}}
</div>
