<ul>
  <li class="docs-online">
    docs online
    {{counter.online}}
  </li>
  <li class="docs-sel">
    docs sel
    {{counter.selected}}
  </li>
  <li class="people">
    nombres
    {{counter.people}}
  </li>
  <li class="organizations">
    orgs
    {{counter.organizations}}
  </li>
  <li class="places">
    lugares
    {{counter.places}}
  </li>
  <li class="dates">
    fechas
    {{counter.dates}}
  </li>
</ul>