.main-content.registration.clearfix
  .content.clearfix
    %h1 Inicio de sesión
    = form_for resource, as: resource_name, url: session_path(resource_name), builder: PrettyFormBuilder, id: 'registration-form' do |f|
      = f.text_field :email, placeholder: 'Email *'
      = f.password_field :password, placeholder: 'Contraseña *'
      = f.label 'Recordarme', for: 'user_remember_me'
      = f.check_box :remember_me if devise_mapping.rememberable?
      %br/
      = f.submit 'Ingresar'
  = render 'shared/us_sidebar'