.document{data: { id: "{{id}}" }}
  %ul.nav.nav-tabs{:class => locals[:small] ? "small" : nil}
    %li.active
      %a{href: '#facts', data: { toggle: 'tab'}}= I18n.t("documents.facts")
    %li
      %a{href: '#names', data: { toggle: 'tab'}}= I18n.t("documents.names")
    %li
      %a{href: '#organizations', data: { toggle: 'tab'}}= I18n.t("documents.organizations")
    %li
      %a{href: '#dates', data: { toggle: 'tab'}}= I18n.t("documents.dates")
    %li
      %a{href: '#places', data: { toggle: 'tab'}}= I18n.t("documents.places")
  .tab-content
    .tab-pane.active#facts
      %ul
        {{#registers}}
        %li
          %span.people
            {{who}}
          %span.dates
            {{when}}
          %span.others
            {{what}}
          %span.places
            {{where}}
          %span.people
            {{to_who}}
        {{/registers}}
    .tab-pane#names
      %table.table.table-bordered.table-condensed.tablesorter
        %thead
          %tr
            %th
              = I18n.t("documents.names")
            %th
              = I18n.t("documents.mentions")
            %th
        %tbody
          {{#people}}
          %tr
            %td
              {{name}}
            %td
              {{mentions}}
            %td.blacklist
              %a{href: "/api/blacklist/{{id}}", data: {name: "{{name}}"}}
                %i.icon-remove
          {{/people}}
      %a{href: '/documents/{{id}}/people'}= I18n.t("documents.full_list")
    .tab-pane#organizations
      %table.table.table-bordered.table-condensed.tablesorter
        %thead
          %tr
            %th
              = I18n.t("documents.organizations")
            %th
              = I18n.t("documents.mentions")
        %tbody
          {{#organizations}}
          %tr
            %td
              {{text}}
            %td
              {{mentions}}
          {{/organizations}}
      %a{href: '#'}= I18n.t("documents.full_list")
    .tab-pane#dates
      %table.table.table-bordered.table-condensed.tablesorter
        %thead
          %tr
            %th
              = I18n.t("documents.dates")
            %th
              = I18n.t("documents.mentions")
        %tbody
          {{#dates}}
          %tr
            %td
              {{text}}
            %td
              {{mentions}}
          {{/dates}}
    .tab-pane#places
      %table.table.table-bordered.table-condensed.tablesorter
        %thead
          %tr
            %th
              = I18n.t("documents.places")
            %th
              = I18n.t("documents.mentions")
        %tbody
          {{#places}}
          %tr
            %td
              {{text}}
            %td
              {{mentions}}
          {{/places}}
