-# coding: utf-8
- content_for :styles do
  = stylesheet_link_tag "flick/jquery-ui-1.8.18.custom"
- content_for :javascripts do
  = javascript_include_tag 'jquery-ui-1.8.18.custom.min', 'bootstrap-alert', 'bootstrap-collapse', 'mustache'
  = javascript_include_tag 'analize'

%script#paragraphTemplate{:type => "text/template"}
  {{#paragraphs}}
  %p{"data-paragraph" => "{{_id}}"}
    {{content}}
  {{/paragraphs}}
.row
  .span8.paragraphs
    - @paragraphs.each do |p|
      %p{"data-paragraph" => p.id}
        = p.content + "."
  .span4
.row
  .span12.pages
  - if @paragraphs.length > 1
    .next_page
      = link_to "Cargar más contenido", url_for(:documents, :comb, :id => @document.id, :page => params[:page].to_i + 2),
        :id => "next_page",
        "data-next" => params[:page].to_i + 2,
        "data-document" => @document.id
    #loading{:style => "display:none;"}
      = image_tag 'ajax-loader.gif', :style => "margin:0 auto;"
