-# coding: utf-8
- content_for :javascripts do
  = javascript_include_tag 'analize'
%script#preRegisterTemplate{:type => "text/template"}
  .register{:class => "{{type}}", "data-ne-id" => "{{id}}"}
    {{text}} 
    %button.close
      ×
%script#namedEntityTemplate{:type => "text/template"}
  %span.ne{:class => "{{tag}}", "data-ne-id" => "{{id}}", "data-type" => "{{tag}}"} {{content}}  
  %span.info
    (i)
%script#documentContextTemplate{:type => "text/template"}
  .breadcrumb
    %a{:href => "/documents/{{id}}"}
      {{heading}}
  .information
    .title
      {{heading}}
    .category
      Categoría: {{category}}
%script#personContext{:type => "text/template"}
  .breadcrumb
    %a{:href => "/documents/#{@document.id}"}
      = @document.heading
    >
    %a{:href => "/person/{{id}}"}
      {{name}}
  .information
    %ul
      %li
        Nombre: {{name}}
      %li
        Apellido del padre: {{surname_father}}
      %li
        Tags: 
        {{#tags}}
        %a{:href => "{{tag_link}}"}
          {{.}}
        {{/tags}}
      %li
        Documentos:
        {{#document_ids}}
        %a{:href => "/documents/{{.}}"} 
          {{.}}
        {{/document_ids}}
%script#paragraphTemplate{:type => "text/template"}
  %p{"data-paragraph" => "{{_id}}"}
    {{{content}}}
%script#nextPageTemplate{:type => "text/template"}
  %a{:href => "{{url}}", :id => "next_page", "data-next" => "{{next_page}}", "data-document" => "{{id}}" }
    Cargar más contenido
- content_for :sidebar do
  %ul.nav.nav-list#sidebar
    %li.nav-header
      Referencias
    %ul#reference
      %li.people
        %span Personas
        %input{:type => "checkbox", :checked => true}
      %li.organizations
        %span Organizaciones
        %input{:type => "checkbox", :checked => true}
      %li.places 
        %span Lugares
        %input{:type => "checkbox", :checked => true}
      %li.dates
        %span Fechas
        %input{:type => "checkbox", :checked => true}
      %li.actions
        %span Acciones
        %input{:type => "checkbox", :checked => true}
    %li.nav-header
      Eventos
      .new_register
        .who.box{"data-type" => "people"}
          %h3 Quienes
          .new
        .what.box{"data-type" => "what"}
          %h3
            Que
            .controls
              %select
                %option
                  Secuestro
                %option
                  Fue secuestrado
                %option
                  Mato
                %option
                  Fallecio
        .when.box{"data-type" => "dates"}
          %h3 Cuando
          .new
        .where.box{"data-type" => "places"}
          %h3 Donde
          .new
        .to_who.box{"data-type" => "people"}
          %h3 A quienes
          .new
        .buttons
          %button{:class => 'btn btn-primary'}
            Guardar
          %button{:class => 'btn btn-danger'}
            Limpiar

    %li.nav-header Contexto
    .context#context

.row-fluid
  %h2{:id => "document_heading", "data-document-id" => @document.id}
    = @document.heading
  .paragraphs
  .span4

.row-fluid
  .pages
  - if @paragraphs.length > 1
    .next_page
      = link_to "Cargar más contenido", url_for(:documents, :comb, :id => @document.id, :page => params[:page].to_i + 2),
        :id => "next_page",
        "data-next" => params[:page].to_i + 2,
        "data-document" => @document.id
    #loading{:style => "display:none; text-align: center;"}
      = image_tag 'ajax-bar-loader.gif', :style => "margin:0 auto;"
