-# coding: utf-8
- content_for :styles do
  :css
    body {
     padding-top: 40px;
     background-color: #eee;
    }

- content_for :javascripts do
  = javascript_include_tag 'analize'
  :javascript
    AnalyzeApp.pageList.reset(#{@pages.to_json(:methods => :named_entities)});
    $(function() {
      $(".sidebar").mCustomScrollbar({
        mouseWheel: 30,
        autoDraggerLength: true,
        advanced: {
          updateOnBrowserResize: true
        }
      });
    });

/ Document fontspec CSS classes
- @doc.fontspecs.each do |id, fs|
  :css
    .page p.fs#{id} {
      font-family: #{fs["family"]};
      font-size: #{fs["size"]}px;
      color: #{fs["color"]};
    }

/ Document content
.row-fluid
  .document
    %h2{:id => "document-heading", "data-document-id" => @doc.id}
      = @doc.heading
    .pages
      - @empty_pages.each do |page|
        .page.empty{:id => page.num, :"data-id" => page.id, :style => "width: 100%; height: #{page.height}px"}

-#
  .row-fluid
    .pages
    - if @paragraphs.length > 1
      .next_page
        = link_to "Cargar más contenido", url_for(:documents, :comb,
          :id => "next_page",
          :"data-next" => params[:page].to_i + 2,
          :"data-document" => @doc.id
      #loading{:style => "display:none; text-align: center;"}
        = image_tag 'ajax-bar-loader.gif', :style => "margin:0 auto;"

- content_for :sidebar do
  %ul.nav.nav-list#sidebar
    .alert.alert-error#register-error{style: "display:none;"}
      %a.close{href: '#', data: {dismiss: "alert"}}
      %strong
        Aviso
      El registro no ha sido guardado.
    .alert.alert-success#register-save{style: "display:none;"}
      %a.close{href: '#', data: {dismiss: "alert"}}
      %strong
        Aviso
      El registro ha sido guardado.
    %li.nav-header
      Referencias
    %ul#reference
      %li.people
        %input{:type => "checkbox", :id => :people_ref, :checked => true}
        %label{:for => :people_ref} Personas
      %li.organizations
        %input{:type => "checkbox", :id => :organizations_ref, :checked => true}
        %label{:for => :organizations_ref} Organizaciones
      %li.places
        %input{:type => "checkbox", :id => :places_ref, :checked => true}
        %label{:for => :places_ref} Lugares
      %li.dates
        %input{:type => "checkbox", :id => :dates_ref, :checked => true}
        %label{:for => :dates_ref} Fechas
      %li.actions
        %input{:type => "checkbox", :id => :actions_ref, :checked => true}
        %label{:for => :actions_ref} Acciones
    %li.nav-header#register
      Hechos
      .new_register
        .who.box{"data-type" => "people", 'data-klass' => 'who'}
          %h3 Quiénes
          .new
        .what.box{"data-type" => "what", 'data-klass' => 'what'}
          %h3 Qué
          .controls
            %select#whatSelector{multiple: true}
              - ActionEntity::VERBS.each do |action|
                %option
                  = action.titleize
        .when.box{"data-type" => "dates", 'data-klass' => 'when'}
          %h3 Cuándo
          .new
        .where.box{"data-type" => "places", 'data-klass' => 'where'}
          %h3 Dónde
          .new
        .to_who.box{"data-type" => "people", 'data-klass' => 'to_who'}
          %h3 A quiénes
          .new
        .buttons
          %button{:class => 'btn btn-primary save'}
            Guardar
          %button{:class => 'btn btn-danger clean'}
            Limpiar

    %li.nav-header Contexto
    .context#context

/ Templates
%script#preRegisterTemplate{:type => "text/template"}
  .register{:class => "{{type}} {{ne_class}}", "data-ne-id" => "{{id}}"}
    {{text}}
    %button.close
      ×

%script#documentContextTemplate{:type => "text/template"}
  .breadcrumb
    %a{:href => "/documents/{{id}}"}
      {{heading}}
  %dl.information
    %dt Categoría
    %dd {{category}}
  = partial "documents/context_tabs", :locals => { :small => true }

%script#personContext{:type => "text/template"}
  .breadcrumb
    %a{:href => "/documents/#{@doc.id}"}
      = @doc.heading
    >
    %a{:href => "/person/{{id}}"}
      {{name}}
  .information
    .field
      Nombre: {{full_name}}
    .field
      Tags:
      {{#tags}}
      %a{:href => "{{tag_link}}"}
        {{.}}
      {{/tags}}
    .field
      Documentos:
      {{#documents}}
      %a{:href => "/documents/{{id}}"}
        {{name}}
      {{/documents}}

%script#nextPageTemplate{:type => "text/template"}
  %a{:href => "{{url}}", :id => "next_page", "data-next" => "{{next_page}}", "data-document" => "{{id}}" }
    Cargar más contenido

%script#pageTemplate{:type => "text/template"}
  .page-content{:style => "display: none"}
    {{#textLines}}
    %p{:"data-id" => "{{_id}}", :class => "fs{{fontspec_id}}", :style => "top: {{top}}px; left: {{left}}px; width: {{width}}px"} {{{htmlText}}}
    {{/textLines}}

%script#textLineTemplate{:type => "text/template"}
  %p{:"data-id" => "{{_id}}", :class => "fs{{fontspec_id}}", :style => "top: {{top}}px; left: {{left}}px; width: {{width}}px"} {{{text}}}

%script#namedEntityTemplate{:type => "text/template"}
  %span.ne{:class => "ne {{ne_class}}", "data-ne-id" => "{{_id}}", "data-class" => "{{ne_class}}", "data-type" => "{{tag}}", "data-person-id" => "{{person_id}}", "data-lemma" => "{{lemma}}"} {{{originalText}}}
