-# coding: utf-8
- content_for :javascripts do
  = javascript_include_tag 'analize'
%script#preRegisterTemplate{:type => "text/template"}
  .register{:class => "{{type}}", "data-ne-id" => "{{id}}"}
    {{text}} 
    %button.close
      ×
%script#namedEntityTemplate{:type => "text/template"}
  %span.ne{:class => "{{tag}}", "data-ne-id" => "{{id}}", "data-type" => "{{tag}}"} {{content}}  
  %span.info
    (i)
%script#documentContextTemplate{:type => "text/template"}
  .breadcrumb
    %a{:href => "/documents/{{id}}"}
      {{heading}}
  .information
    .title
      {{heading}}
    .category
      Categoría: {{category}}
%script#personContext{:type => "text/template"}
  .breadcrumb
    %a{:href => "/documents/#{@document.id}"}
      = @document.heading
    >
    %a{:href => "/person/{{id}}"}
      {{name}}
  .information
    .field
      Nombre: {{name}}
    .field
      Apellido del padre: {{surname_father}}
    .field
      Tags: 
      {{#tags}}
      %a{:href => "{{tag_link}}"}
        {{.}}
      {{/tags}}
    .field
      Documentos:
      {{#document_ids}}
      %a{:href => "/documents/{{.}}"} 
        {{.}}
      {{/document_ids}}
  .edit.buttons{:style => 'text-align:right;'}
    %button.btn.btn-info
      Edit
%script#paragraphTemplate{:type => "text/template"}
  %p{"data-paragraph" => "{{_id}}"}
    {{{content}}}
%script#nextPageTemplate{:type => "text/template"}
  %a{:href => "{{url}}", :id => "next_page", "data-next" => "{{next_page}}", "data-document" => "{{id}}" }
    Cargar más contenido
- content_for :sidebar do
  %ul.nav.nav-list#sidebar
    %li.nav-header
      Referencias
    %ul#reference
      %li.people
        %span Personas
        %input{:type => "checkbox", :checked => true}
      %li.organizations
        %span Organizaciones
        %input{:type => "checkbox", :checked => true}
      %li.places 
        %span Lugares
        %input{:type => "checkbox", :checked => true}
      %li.dates
        %span Fechas
        %input{:type => "checkbox", :checked => true}
      %li.actions
        %span Acciones
        %input{:type => "checkbox", :checked => true}
    %li.nav-header#register
      Hechos
      .new_register
        .who.box{"data-type" => "people", 'data-klass' => 'who'}
          %h3 Quienes
          .new
        .what.box{"data-type" => "what", 'data-klass' => 'what'}
          %h3 Que
          .controls
            %select#whatSelector{multiple: true}
              - Register::ACTION.each do |action|
                %option
                  = action.titleize
        .when.box{"data-type" => "dates", 'data-klass' => 'when'}
          %h3 Cuando
          .new
        .where.box{"data-type" => "places", 'data-klass' => 'where'}
          %h3 Donde
          .new
        .to_who.box{"data-type" => "people", 'data-klass' => 'to_who'}
          %h3 A quienes
          .new
        .buttons
          %button{:class => 'btn btn-primary save'}
            Guardar
          %button{:class => 'btn btn-danger clean'}
            Limpiar

    %li.nav-header Contexto
    .context#context

.row-fluid
  %h2{:id => "document_heading", "data-document-id" => @document.id}
    = @document.heading
  .paragraphs
  .span4

.row-fluid
  .pages
  - if @paragraphs.length > 1
    .next_page
      = link_to "Cargar más contenido", url_for(:documents, :comb, :id => @document.id, :page => params[:page].to_i + 2),
        :id => "next_page",
        "data-next" => params[:page].to_i + 2,
        "data-document" => @document.id
    #loading{:style => "display:none; text-align: center;"}
      = image_tag 'ajax-bar-loader.gif', :style => "margin:0 auto;"
