-# coding: utf-8
- content_for :javascripts do
  = javascript_include_tag 'bootstrap-alert', 'documents'
  :javascript
    $(function() {
      $(".with-scrollbar").mCustomScrollbar({
        advanced: { updateOnBrowserResize: true }
      });
    });

%script#documentContextError{:type => "text/template"}
  .alert.alert-error
    Ocurrió un error al obtener información de contexto del documento.

%script#documentContext{:type => "text/template"}
  = partial "documents/context"

%header
  .subnav.subnav-fixed
    %ul.nav.nav-pills
      %li{:class => request.path_info == url(:documents, :index) ? "active" : nil}
        %a{:href => url(:documents, :index)} Documentos
      %li{:class => request.path_info.start_with?(url(:documents, :new)) ? "active" : nil}
        %a{:href => url_for(:documents, :new)} Nuevo
      %li{:class => request.path_info.start_with?(url(:documents, :mine)) ? "active" : nil}
        %a{:href => url_for(:documents, :mine)} Mis documentos

- content_for :free do
  .row-fluid
    .content.span7
      .row-fluid
        .alert.fade.in.alert-success#stillProcessing{:style => 'display:none;'}
          %a.close{:href => '#', 'data-dismiss' => 'alert'}×
          %strong
            Recuerde que el procesamiento de tareas puede tomar algunos minutos.
      .row-fluid
        %table{:class => 'table documents', :id => 'sorteable'}
          %thead
            %tr
              %th{:style => "width: 70px"}
              %th
                %a{:href => '#', "data-sort" => "name"}Título
              %th
                %a{:href => '#', "data-sort" => "name"}Tipo
              %th
                %a{:href => '#', "data-sort" => "date"}Fecha
              %th
                %a{:href => '#', "data-sort" => "status"}Estado
          %tbody
            - @docs.each do |doc|
              %tr{:"data-id" => doc.id}
                %td{:style => "width: 70px"}
                  = thumbnail_tag doc
                %td
                  .title= doc.heading
                  .tools
                    .btn-group
                      %a.btn{:href => url_for(:documents, :comb, :id => doc._id), :class => (doc.readable? ? nil : "disabled")}
                        %i.icon-edit{:title => "Editar"}
                      %a.btn{:href => url_for(:documents, :map, :id => doc._id), :class => (doc.has_geocoded_addresses? ? nil : "disabled")}
                        %i.icon-globe{:title => "Mapa"}
                      %a.btn{:href => original_file_url(doc)}
                        %i.icon-download-alt{:title => "Descargar"}
                %td
                  = doc.category
                %td
                  = doc._id.generation_time.strftime("%d/%m/%y")
                %td.state
                  - if doc.processed?
                    Finalizado
                    .hidden{:style => "display: none;"}
                      .progress.progress-striped.active
                        .bar{:style => "width: 100%;"}
                  - else
                    .progress.progress-striped.active
                      .bar{:style => "width: #{doc.state_to_percentage}%;"}

    .sidebar.with-scrollbar.span5{:style => "background-color: #fff; border: 0"}
      .with-scrollbar-inner#document
        %h4
          Haga clic en un documento para ver más información
