-# coding: utf-8
%header#overview.jumbotron.subhead
  .subnav.subnav-fixed
    %ul.nav.nav-pills
      %li.active
        %a{:href => url_for(:documents, :index)} Documentos
      %li
        %a{:href => url_for(:documents, :new)} Nuevo
      %form.navbar-search.pull-right{:action => url_for(:documents, :search), :type => :get}
        %input.search-query.span2{:placeholder => "Search", :type => "text"}
        %button{:type => "submit", :class => "btn"} Buscar
.row
  .span8
    %table{:class => 'table table-striped', :id => 'sorteable'}
      %thead
        %tr
          %th
          %th
            %a{:href => '#', "data-sort" => "name"}Título
          %th
            %a{:href => '#', "data-sort" => "name"}Tipo
          %th
            %a{:href => '#', "data-sort" => "date"}Fecha
          %th
            Bajar archivo
      %tbody
        - @docs.each do |doc|
          %tr
            %td
              = thumbnail_tag doc
            %td
              = link_to doc.heading, url_for(:documents, :show, :id => doc._id)
            %td
              = doc.category
            %td
              = doc._id.generation_time.strftime("%d/%m/%y")
            %td
              = link_to doc.original_file, "/uploads/#{doc.original_file}"
  .span4
