-# coding: utf-8
- content_for :javascripts do
  = javascript_include_tag 'documents'
.row-fluid
  .span8
    %h1= @doc.heading
    %table.table.table-bordered.table-condensed.tablesorter
      %thead
        %tr
          %th
            %a{:href => '#', "data-sort" => "number"}#
          %th
            %a{:href => '#', "data-sort" => "name"}Nombre
          %th
            %a{:href => '#', "data-sort" => "mentions"}Menciones
          %th
      %tbody
        - @people.each_with_index do |person, index|
          %tr{"data-mentions" => person.mentions_in(@doc)}
            %td
              = index + 1
            %td
              = person.name.titleize
            %td
              (#{person.mentions_in(@doc)} menciones)
            %td.blacklist
              %a{href: "/api/blacklist/#{person.id}"}
                %i.icon-remove
