-# encoding: utf-8
- content_for :styles do
  :css
    body {
     padding-top: 40px;
     background-color: #eee;
    }
    .highlights {
      font-size: 12px;
    }
    .highlights li {
      line-height: 15px;
    }
    .content em {
      background-color: yellow;
    }

.row-fluid
  .content
    .row-fluid
      %h2
        = @search.total
        resultados
    .row-fluid
      %table{:class => 'table documents'}
        %thead
          %tr
            %th{:style => "width: 70px"}
            %th
        %tbody
          - @docs.each do |doc|
            %tr{:"data-id" => doc.id}
              %td{:style => "width: 70px"}
                = thumbnail_tag doc
              %td
                %h4.heading= doc._search["highlight"]["heading"].try(:first) || doc.heading
                .small
                  = doc.category
                  = doc._id.generation_time.strftime("%d/%m/%y")
                  - if doc._search["highlight"].keys.grep(/^\d+$/)
                    %ul.highlights
                      - doc._search["highlight"].keys.grep(/^\d+$/).map(&:to_i).sort.each do |page_num|
                        %li
                          %strong= "p.#{page_num}"
                          = "..."
                          = doc._search["highlight"][page_num.to_s].first.gsub("\n", " ")
                          = "..."
                .tools
                  .btn-group.pull-right
                    %a.btn{:href => url_for(:documents, :comb, :id => doc._id), :class => (doc.readable? ? nil : "disabled")}
                      %i.icon-edit{:title => I18n.t("documents.edit")}
                    %a.btn{:href => url_for(:documents, :map, :id => doc._id), :class => (doc.has_geocoded_addresses? ? nil : "disabled")}
                      %i.icon-globe{:title => I18n.t("documents.map")}
                    %a.btn{:href => original_file_url(doc)}
                      %i.icon-download-alt{:title => I18n.t("documents.download")}
                    %a.btn{:href => url_for(:documents, :people, :id => doc._id, :format => :csv)}
                      %i.icon-list-alt{:title => I18n.t("documents.export")}
                  .state.pull-right
                    - if doc.processed?
                      .hidden{:style => "display: none;"}
                        .progress.progress-striped.active
                          .bar{:style => "width: 100%;"}
                    - else
                      .progress.progress-striped.active
                        .bar{:style => "width: #{doc.state_to_percentage}%;"}

- content_for :sidebar do
  %ul.nav.nav-list#sidebar
    %li.nav-header Filtros de búsqueda
    %ul#filters
      %li.document
        Documento
        %form.navbar-search.pull-left
          %input.search-query{name: "q", value: params[:q], type: "search", placeholder: "Buscar por título o contenido"}
          %button.btn{type: "submit"} Buscar
