-# coding: utf-8
- content_for :javascripts do
  = javascript_include_tag 'bootstrap-tooltip', 'bootstrap-popover', "documents"
.row
  .span5
    %table.table.table-bordered.table-condensed
      %thead
        %th{:span => 2 }
          Información
      %tbody
        %tr
          %td{:rowspan => 4 }
            = thumbnail_tag @doc
          %td
            = @doc.heading
        %tr
          %td
            = @doc.category
        %tr
          %td
            = @doc._id.generation_time.strftime("%d/%m/%y")
        %tr
          %td
            = link_to "Download", "/uploads/#{@doc.original_file}"
    %hr
      = link_to "Localizar", url_for(:documents, :map, :id => @doc._id), :class => "btn btn-primary", :target => "_blank"
      = link_to "Personas", url_for(:documents, :people, :id => @doc._id), :class => "btn btn-primary"
      = link_to "Peinar", url_for(:documents, :comb, :id => @doc._id), :class => "btn btn-primary"
    %hr
    %table.table.table-condensed.table-striped
      %thead
        %tr
          %th
            = "#"
          %th
            Contenido
          %th
      %tbody
  .span1
  .span3
    %table.table.table-bordered.table-condensed
      %thead
        %tr
          %th
            = "#"
          %th
            Personas
          %th
            Menciones
      %tbody
        - @doc.people.each_with_index do |person, index|
          %tr
            %td
              = index + 1
            %td
              = person.name
            %td
              = person.mentions_in @doc
  .span1
  .span2
    %table.table.table-bordered.table-condensed
      %thead
        %tr
          %th
            = "#"
          %th
            Organizaciones
      %tbody
        - @doc.organizations_found.each_with_index do |org, index|
          %tr
            %td
              = index + 1
            %td
              = org.text
