-# coding: utf-8
- content_for :javascripts do
  = javascript_include_tag 'bootstrap-tooltip', 'bootstrap-popover', "documents"
  .row
  .span8
    %h1= @doc.heading
    %p
      = @doc.description
    %table#doc_stats
      %tr
        %th= link_to "Personas mencionadas",url_for(:documents, :people, :id => @doc.id)
        %td= @doc.people.length
      %tr
        %th Hitos registrados
        %td
          = @doc.milestones.count
  .span4
    %p
      = link_to "Fragmentos densos de información", url_for(:documents, :hot_zones, :id => @doc.id)
    %p
      = link_to "Reparsear doc",url_for(:documents, :reparse, :id => @doc.id)
    %p
      = link_to "Bajar archivo", "/uploads/#{@doc.original_file}"
.row
  .span12
    %hr
.row
  .span8
    %table.table.table-condensed.table-striped
      %thead
        %tr
          %th
            = "#"
          %th
            Contenido
          %th
      %tbody
        - @doc.indication.each_with_index do |p, index|
          %tr
            %td
              = index + 1
            %td.content
              = p
            %td.link
              = link_to('Ver más', url_for(:documents, :paragraph, @doc.id, :paragraph_index => index),
                        "data-content" => @doc.paragraphs[index].info,
                        "title" => "Información")
