-# coding: utf-8
- content_for :javascripts do
  = javascript_include_tag 'bootstrap-tooltip', 'bootstrap-popover', "documents"
.row
  .span5
    %table.table.table-bordered.table-condensed
      %thead
        %th{:span => 2 }
          Información
      %tbody
        %tr
          %td{:rowspan => 4 }
            = thumbnail_tag @doc
          %td
            = @doc.heading
        %tr
          %td
            = @doc.category
        %tr
          %td
            = @doc._id.generation_time.strftime("%d/%m/%y")
        %tr
          %td
            = link_to "Download", "/uploads/#{@doc.original_file}"
    %hr
      = link_to "Localizar", url_for(:documents, :map, :id => @doc._id), :class => "btn btn-primary", :target => "_blank"
      = link_to "Personas", url_for(:documents, :people, :id => @doc._id), :class => "btn btn-primary"
      = link_to "Validar registros", url_for(:documents, :comb, :id => @doc._id), :class => "btn btn-primary"
  .span6
    %h2
      Registros
    %table.table.table-bordered.table-condensed
      %thead
        %th
          What
        %th
          Who
        %th
          When
        %th
          Where
        %th
          to who
      %tbody
        - @doc.registers.each do |register|
          %tr
            %td
              = register.what
            %td
              - register.who.each do |w|
                = NamedEntity.find(w).text
            %td
              - register.when.each do |w|
                = NamedEntity.find(w).text
            %td
              - register.where.each do |w|
                = NamedEntity.find(w).text
            %td
              - register.to_who.each do |w|
                = NamedEntity.find(w).text
%hr
.row
  .span1
  .span4
    %table.table.table-bordered.table-condensed.tablesorter
      %thead
        %tr
          %th
            Personas
          %th
            Menciones
      %tbody
        - @doc.people.each_with_index do |person, index|
          %tr
            %td
              = person.full_name
            %td
              = person.mentions_in @doc
