-# coding: utf-8
- content_for :javascripts do
  = javascript_include_tag 'bootstrap-tooltip', 'bootstrap-popover', "documents"
.row
  .span5
    %table.table.table-bordered.table-condensed
      %thead
        %th{:span => 2 }
          Informaci칩n
      %tbody
        %tr
          %td{:rowspan => 4 }
            = thumbnail_tag @doc
          %td
            = @doc.heading
        %tr
          %td
            = @doc.category
        %tr
          %td
            = @doc._id.generation_time.strftime("%d/%m/%y")
        %tr
          %td
            = link_to "Download", "/uploads/#{@doc.original_file}"
    %hr
      %a{:href => "/", :class => "btn btn-primary"}
        Procesar
    %hr
    %table.table.table-condensed.table-striped
      %thead
        %tr
          %th
            = "#"
          %th
            Contenido
          %th
      %tbody
        - @doc.indication.each_with_index do |p, index|
          %tr
            %td
              = index + 1
            %td.content
              = p
            %td.link
              = link_to('Ver m치s', url_for(:documents, :paragraph, @doc.id, :paragraph_index => index),
                        "data-content" => @doc.paragraphs[index].info,
                        "title" => "Informaci칩n")
  .span1
  .span3
    %table.table.table-bordered.table-condensed
      %thead
        %tr
          %th
            = "#"
          %th
            Personas
      %tbody
        - @doc.people_found.each_with_index do |person, index|
          %tr
            %td
              = index + 1
            %td
              = person.orginal_text
  .span1
  .span2
    %table.table.table-bordered.table-condensed
      %thead
        %tr
          %th
            = "#"
          %th
            Organizaciones
      %tbody
        - @doc.organizations_found.each_with_index do |org, index|
          %tr
            %td
              = index + 1
            %td
              = org.orginal_text
.row
  .span8
    %h1= @doc.heading
    %p
      = @doc.description
    %table#doc_stats
      %tr
        %th= link_to "Personas mencionadas",url_for(:documents, :people, :id => @doc.id)
        %td= @doc.people.length
      %tr
        %th Hitos registrados
        %td
          = @doc.milestones.count
  .span4
    %p
      = link_to "Fragmentos densos de informaci칩n", url_for(:documents, :hot_zones, :id => @doc.id)
    %p
      = link_to "Reparsear doc",url_for(:documents, :reparse, :id => @doc.id)
    %p
      = link_to "Bajar archivo", "/uploads/#{@doc.original_file}"
    %p
      = link_to "Ver mapa", url_for(:documents, :map, :id => @doc.id)
.row
  .span12
    %hr
