-# coding: utf-8
.row
  .span8
    %h1= @doc.title
    %table#doc_stats
      %tr
        %th=# link_to "Personas mencionadas",url_for(:doc_admin_people,:doc_id => @doc.id)
        %td= @doc.people.length
      %tr
        %th Personas incorporadas a la db
        %td TODO
      %tr
        %th Hitos registrados
        %td
          = @doc.milestones.count
  .span4
    %p
      = link_to "Fragmentos densos de información", url_for(:doc_admin_hot_zones, :doc_id => @doc.id)
    %p
      = link_to "Reparsear doc",url_for(:documents, :reparse, :id => @doc.id)
.row
  .span12
    %hr
.row
  .span4
    #most_mentioned
      %h2 Mas mencionadas
      %ol
        - @most_mentioned.each{|p|
        %li
          = link_to p.name,url_for(:doc_admin_person,:doc_id => @doc.id, :id => p.id)
          (#{p.mentions_in(@doc)} menciones, #{p.milestones_dataset.count} hitos registrados)
          - }
      =# link_to "Ver todas", url_for(:doc_admin_people,:doc_id => @doc.id)
  .span4
    #milestones
      %h2 Hitos
      %ol
        - @doc.milestones.order_by([[:created_at,:desc]]).reverse.each{|m|
        %li
          = link_to m.person.name, url_for(:doc_admin_person, :doc_id => @doc.id, :id => m.person.id)
          = link_to "#{m.what} #{m.date_from} - #{m.date_to}", url_for(:doc_admin_milestone, :doc_id => @doc.id, :id => m.id)
          - }
      = link_to "Ver todos", url_for(:doc_admin_milestones,:doc_id => @doc.id)
  .span4
    #index
      %h2 Indice
      %table{:class => "table-striped table-bordered table-condensed"}
        %thead
          %tr
            %th
        %tbody
          - @doc.extract.title_tree.each do |m|
            %tr
              %td
                = link_to m.last,url_for(:doc_admin_curate_fragment, :start => m.last.start_pos, :end => m.last.start_pos + 5000, :doc_id => @doc.id)