<ul>
  <li class="docs-online">
    docs online
    {{counter.online}}
  </li>
  <li class="docs-sel">
    docs sel
    {{counter.selected}}
  </li>
  <li class="people" data-menu="people">
    nombres
    {{counter.people}}
  </li>
  <li class="organizations" data-menu="organizations">
    orgs
    {{counter.organizations}}
  </li>
  <li class="places" data-menu="places">
    lugares
    {{counter.places}}
  </li>
  <li class="dates" data-menu="dates">
    fechas
    {{counter.dates}}
  </li>
</ul>
<div class="menu-modal">
  <a class="close">X</a>
  <div class="header"></div>
  <div class="content"></div>
</div>