.main-content.contact.clearfix
  .content.contact.clearfix
    %h1 Contacto
    = form_for @contact, url: save_contact_path, name: 'contact-form', id: 'contact-form', builder: PrettyFormBuilder do |f|
      .input-item
        = f.pretty_text_field :name, placeholder: 'Nombre *'
        = f.pretty_text_field :email, placeholder: 'Email *'
        = f.pretty_text_field :organization, placeholder: 'Organización'
        = f.pretty_text_area :message, placeholder: 'Message'
      = f.submit "Ingresar"

  = render 'shared/us_sidebar'