.main-content.home.clearfix
  .content.clearfix
    .content-caroufredsel.carouse2
      %ul#content-caroufredsel.slides.clearfix
        %li
          = image_tag 'slider-01.png'
        %li
          = image_tag 'slider-02.png'
        %li
          = image_tag 'slider-03.png'
        %li
          = image_tag 'slider-04.png'
      #content-caroufredsel-pager.pager.clearfix
  .side-bar.clearfix
    %h3 ¿Es la primera vez que ingresa?
    %p
      %strong Analice.me
      es una plataforma de investigación periodística que detecta entidades automáticamente, realiza análisis semántico y estructura la información para mostrar relaciones de forma visual. 
    .arrow-deco
    = link_to "Pedir Invitación", new_invitation_path, class: 'button-bigger'
    .infomation.clearfix
      .docs-upload.clearfix
        .ups
          = @documents
        %label
          Documentos cargados
      .deco
      .information-item.clearfix
        .people-number
          = @people
        %label Personas
      .information-item.clearfix
        .org-number
          = @organizations
        %label Organizaciones
      .information-item.clearfix
        .places-number
          = @places
        %label Lugares
      .information-item.clearfix
        .dates-number
          = @dates
        %label Fechas

= content_for :footer do
  .footer-secction.partners
    .wrapper-prefooter
      .prefooter
        .partner-title
          %h3 PARTNERS
          .deco
        .prefooter-caroufredsel.carouse2
          %ul#prefooter-caroufredsel.slides.clearfix
            %li
              = image_tag 'partners/hhba.png'
            %li
              = image_tag 'partners/icfj.jpg'
            %li
              = image_tag 'partners/datospublicos.jpg'
          %a#prev2.prev{href: "#"} <
          %a#next2.next{href: "#"} >
