.main-content.home.clearfix
  .content.clearfix
    .content-caroufredsel.carouse2
      %ul#content-caroufredsel.slides.clearfix
        %li
          %img{src: "http://dummyimage.com/567x377/c9c7c9/fff.png"}/
        %li
          %img{src: "http://dummyimage.com/567x377/c9c7c9/fff.png"}/
        %li
          %img{src: "http://dummyimage.com/567x377/c9c7c9/fff.png"}/
        %li
          %img{src: "http://dummyimage.com/567x377/c9c7c9/fff.png"}/
      #content-caroufredsel-pager.pager.clearfix
  .side-bar.clearfix
    %h3 Es la primera vez que ingresas?
    %p
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque accumsan nisl lacus, et tincidunt eros pellentesque non. Vivamus libero enim, dictum nec consequat ut, elementum in eros.
    .arrow-deco
    = link_to "Pedir Invitación", new_invitation_path, class: 'button-bigger'
    .infomation.clearfix
      .docs-upload.clearfix
        .ups
          = @documents
        %label Documentos cargados
      .deco
      .information-item.clearfix
        .people-number
          = @people
        %label Personas
      .information-item.clearfix
        .org-number
          = @organizations
        %label Organizaciones
      .information-item.clearfix
        .places-number
          = @places
        %label Lugares
      .information-item.clearfix
        .dates-number
          = @dates
        %label Fechas

= content_for :footer do
  .footer-secction.partners
    .wrapper-prefooter
      .prefooter
        .partner-title
          %h3 PARTNERS
          .deco
        .prefooter-caroufredsel.carouse2
          %ul#prefooter-caroufredsel.slides.clearfix
            %li
              %img{src: "http://dummyimage.com/115x63/c9c7c9/fff&text=Primero"}/
            %li
              %img{src: "http://dummyimage.com/115x63/c9c7c9/fff"}/
            %li
              %img{src: "http://dummyimage.com/115x63/c9c7c9/fff"}/
            %li
              %img{src: "http://dummyimage.com/115x63/c9c7c9/fff"}/
            %li
              %img{src: "http://dummyimage.com/115x63/c9c7c9/fff"}/
            %li
              %img{src: "http://dummyimage.com/115x63/c9c7c9/fff"}/
            %li
              %img{src: "http://dummyimage.com/115x63/c9c7c9/fff"}/
            %li
              %img{src: "http://dummyimage.com/115x63/c9c7c9/fff"}/
            %li
              %img{src: "http://dummyimage.com/115x63/c9c7c9/fff"}/
            %li
              %img{src: "http://dummyimage.com/115x63/c9c7c9/fff"}/
            %li
              %img{src: "http://dummyimage.com/115x63/c9c7c9/fff"}/
            %li
              %img{src: "http://dummyimage.com/115x63/c9c7c9/fff&text=Ultimo"}/
          %a#prev2.prev{href: "#"} <
          %a#next2.next{href: "#"} >
