= content_for(:special_class) do
  partners

.main-content.home.clearfix
  .content.clearfix
    .content-caroufredsel.carouse2
      %ul#content-caroufredsel.slides.clearfix
        %li
          = image_tag 'slider-01.png'
        %li
          = image_tag 'slider-02.png'
        %li
          = image_tag 'slider-03.png'
        %li
          = image_tag 'slider-04.png'
      #content-caroufredsel-pager.pager.clearfix
    %iframe{src: "//www.youtube.com/embed/byg9b7401e8", frameborder: 0, height: 368, width: 560}
  .side-bar.clearfix
    %h3 Juicios de Lesa Humanidad
    %p
      Ingrese al proyecto Mapa76, donde podrá encontrar un conjunto de documentos de sentencias y fundamentos sobre los juicios de Lesa Humanidad  ocurridos en los últimos años en Argentina.
    .arrow-deco
    = link_to "Ver sentencias", project_path('mapa76'), class: 'button-bigger'
    %br
    %br
    %h3 ¿Es la primera vez que ingresa?
    %p
      %strong Analice.me
      es una plataforma de investigación periodística que detecta entidades automáticamente, realiza análisis semántico y estructura la información para mostrar relaciones de forma visual. 
    .arrow-deco
    = link_to "Pedir Invitación", new_invitation_path, class: 'button-bigger'
    .infomation.clearfix
      .docs-upload.clearfix
        .ups
          = @documents
        %label
          Documentos cargados
      .deco
      .information-item.clearfix
        .people-number
          = @people
        %label Personas
      .information-item.clearfix
        .org-number
          = @organizations
        %label Organizaciones
      .information-item.clearfix
        .places-number
          = @places
        %label Lugares
      .information-item.clearfix
        .dates-number
          = @dates
        %label Fechas

= content_for :footer do
  .wrapper-prefooter
    .prefooter
      .partner-title
        %h3 PARTNERS
        .deco
      .prefooter-caroufredsel.carouse2
        %ul#prefooter-caroufredsel.slides.clearfix
          %li
            = image_tag 'partners/hhba.png'
          %li
            = image_tag 'partners/icfj.jpg'
          /%li
          /  = image_tag 'partners/datospublicos.jpg'
        %a#prev2.prev{href: "#"} <
        %a#next2.next{href: "#"} >
