.main-content.registration.clearfix
  .content.clearfix
    %h1 Cambiá tu password
    = form_for resource, ad: resource_name, url: password_path(resource_name), builder: PrettyFormBuilder, id: 'registration-form', method: :put do |f|
      = f.hidden_field :reset_password_token
      = f.pretty_password_field :password, placeholder: 'New password'
      = f.pretty_password_field :password_confirmation, placeholder: 'Confirmá tu password'
      = f.submit 'Ingresar'
    = render "devise/shared/links"

  .side-bar.clearfix
    %h3 Nosotros
    %p
      %strong Analice.me
      %br/
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque accumsan nisl lacus, et tincidunt eros pellentesque non. Vivamus libero enim, dictum nec consequat ut, elementum in eros. Maecenas metus nunc, iaculis vel posuere
    %h4
      %a{href: "#"} ver más.
