.main-content.registration.clearfix
  .content.clearfix
    %h1 Reinicia tu password
    = form_for resource, ad: resource_name, url: password_path(resource_name), builder: PrettyFormBuilder, id: 'registration-form' do |f|
      = f.pretty_text_field :email, placeholder: 'Email *'
      = f.submit 'Ingresar'
    = render "devise/shared/links"

  = render 'shared/us_sidebar'