<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
  <meta name="classification" content=""/>
  <link rel="icon" href="/favicon.ico"/>
  <meta name="author" content="malev"/>
  <%= stylesheet_link_tag 'pretty', media: 'all' %>
  <%= yield(:head) %>
  <title><%= content_for?(:title) ? yield(:title) : "Analice.me" %></title>
  <%= csrf_meta_tags %>
</head>
<body class="index-mapa76" data-user-auth="<%= project_token(@project) %>" data-document-id="<%= @document.try(:id)%>" data-name="<%= @project.try(:name) %>" data-slug="<%= @project.try(:slug) %>" data-editable="<%= !!current_user %>" data-user-id="<%= current_user.try(:id)%>" data-user-name="<%= current_user.try(:username)%>">
  <div class="container">
    <!--<div class="wrapper-header header-secction clearfix">
      <div class="header-pp clearfix">
        <div class="logo"><%= link_to '', documents_path %></div>
      </div>
    </div>-->
    <div class="header-and-content content-secction <%= controller.action_name %>-doc">
      <%= yield %>
    </div>
  </div>
  <div id="mentions-modal-container"></div>
  <%= render 'shared/footer' %>
  <%= javascript_include_tag 'aeolus' %>
  <%= yield(:outside) %>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-48089932-1', 'analice.me');
    ga('send', 'pageview', '<%= ga_page(@project, @document) %>', '<%= controller.action_name %>');
  </script>
</body>
</html>
