!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "Mapa76"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    = stylesheet_link_tag "application", :media => "all"
    %link(href="http://fonts.googleapis.com/css?family=Dosis" rel="stylesheet" type="text/css")
    %link(href="images/apple-touch-icon-144x144.png" rel="apple-touch-icon-precomposed" sizes="144x144")
    %link(href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon-precomposed" sizes="114x114")
    %link(href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon-precomposed" sizes="72x72")
    %link(href="images/apple-touch-icon.png" rel="apple-touch-icon-precomposed")
    %link(href="/images/favicon.ico" rel="shortcut icon")
    = yield :styles

  %body
    .navbar.navbar-fixed-top.navbar-inverse
      .navbar-inner
        .container-fluid
          %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand(href="/") Mapa76
          .container.nav-collapse
            %ul.nav
              %li{class: active_on_projects}
                = link_to t("projects"), projects_path
              %li{class: active_on_documents}
                = link_to t("documents"), documents_path
              %li
                = link_to "Blog", "http://blog.mapa76.info/"
            %ul.nav.pull-right
              - if user_signed_in?
                %li
                  = link_to current_user.username, ""
                %li
                  = link_to t("sessions.sign_out"), destroy_user_session_path, :method => :delete
              - else
                %li
                  = link_to t("sessions.sign_in"), new_user_session_path
                %li
                  = link_to t("sessions.sign_up"), new_user_registration_path
    .container-fluid
      - if content_for?(:breadcrumbs)
        .row-fluid
          .content.span12
            = yield :breadcrumbs
      .row-fluid
        .content.span8
          - if content_for?(:hero)
            .hero-unit
              = yield :hero
          - if content_for?(:row)
            .row-fluid
              = yield :row
          = yield
        - if content_for?(:sidebar)

          .sidebar.with-scrollbar.span4
            .sidebar-nav.with-scrollbar-inner
              = yield :sidebar

    - if content_for?(:free)
      .container-fluid
        = yield :free

      %footer
        -#%p &copy; Company 2012
    /
      Javascripts
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag "application"
    = yield :javascripts
