<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
  <meta name="classification" content=""/>
  <link rel="icon" href="/favicon.ico"/>
  <meta name="author" content="mausedar"/>
  <%= stylesheet_link_tag 'pretty', media: 'all' %>
  <%= javascript_include_tag "pretty" %>
  <title><%= content_for?(:title) ? yield(:title) : "Mapa76" %></title>

  <!-- IE placeholder function -->
  <script>
    $(function() { $('input, textarea').placeholder();});
  </script>
</head>
  <body>
    <div class="container">
      <div class="header-and-content">
        <div class="wrapper-header clearfix">
          <div class="header clearfix">
            <div class="logo"><a href="<%= root_path %>"></a></div>
            <%= render 'shared/sign_in' %>
          </div>
        </div>
        <div class="line-deco"></div>
        <div class="main-content clearfix">
          <%= yield %>
        </div>
      </div>
    </div>
    <div class="footer-secction">
      <%= yield(:footer) %>
      <div class="wrapper-footer">
        <div class="footer">
          <ul class="footer-menu">
            <li><%= link_to 'Nosotros', about_path %></li>
            <li><%= link_to 'Términos de uso', terms_path %></li>
            <li><a href="http://blog.mapa76.info">Blog</a></li>
            <li><%= link_to 'Contacto', contact_path %></li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>