-# coding: utf-8
- content_for :styles do
  = stylesheet_link_tag "https://fonts.googleapis.com/css?family=Dosis:200,400,700,800"

#timeline
- content_for :free do
  #intro
    .row-fluid
      .span8
        %h1= I18n.t("home.title")
        %h2= I18n.t("home.subtitle")
        %p= I18n.t("home.description")
      .span4
        %h3= I18n.t("home.last_projects")
    .row-fluid.intro-graph
      .span2
      .span3
        %h3= I18n.t("home.extract")
        %p= I18n.t("home.extract_description")
      .span3
        %h3= I18n.t("home.analize")
        %p= I18n.t("home.analize_description")
      .span3
        %h3= I18n.t("home.visualize")
        %p= I18n.t("home.visualize_description")