<script>
   var tl;
   var resizeTimerID = null;

   function centrarEnDia(tl, anio, mes, dia) {
      var _anio = (anio!=undefined) ? anio : 1974;
      var _mes  = (mes!=undefined) ? mes : 1;
      var _dia  = (dia!=undefined) ? dia : 1;
      tl.getBand(0).setCenterVisibleDate(new Date(_anio, _mes, _dia));
   }
   
   
   $(document).ready(function () { 
       var eventSource = new Timeline.DefaultEventSource();
       var bandInfos = [
         Timeline.createBandInfo({
             eventSource:    eventSource,
             date:           "1977-06-09",
             width:          "70%", 
             intervalUnit:   Timeline.DateTime.MONTH, 
             intervalPixels: 100
         }),
         Timeline.createBandInfo({
             eventSource:    eventSource,
             date:           "1977-06-09",
             width:          "30%", 
             intervalUnit:   Timeline.DateTime.YEAR, 
             intervalPixels: 100
         })
       ];
       
		bandInfos[0].syncWith = 1;
		//Resto del ejemplo
		//bandInfos[0].syncWith = 1;
		//bandInfos[0].highlight = true;
		
		//bandInfos[1].syncWith = 1;
		//bandInfos[3].syncWith = 2;
		//bandInfos[3].highlight = true;
            
       tl = Timeline.create(document.getElementById("timeline"), bandInfos);
		
       Timeline.loadJSON("/timeline_json?ids=<%=@persons.map(&:id).join(",")%>", function(json, url) { 
           console.log("from: ",url)
           console.log(json)
           eventSource.loadJSON(json, url); 
       });
              
       centrarEnDia(tl);
   });
   $(document).resize(function () { 
         if (resizeTimerID == null) {
             resizeTimerID = window.setTimeout(function() {
                 resizeTimerID = null;
                 tl.layout();
             }, 500);
         }
    });
</script>

<div id="timeline" style="height: 400px; border: 1px solid #aaa"></div>

<%@persons.each{|person|%>
  <h2><%=link_to person.name,url_for(:index, :ids => person.id)%></h2>
  <table>
    <%person.milestones.each{|milestone|%>
      <tr>
        <td class='from'><%=milestone.date_from_range%></td>
        <td class='to'><%=milestone.date_to_range%></td>
        <td class='what'><%=milestone.what%></td>
        <td class='where'><%=milestone.where%></td>
      </tr>
    <%}%>
  </table>
<%}%>
