!!!
%html{:lang => 'es'}
  %head
    %meta{:charset => 'utf-8'}/
    %title= [@title, 'Mapa76'].compact.join(' | ')
    %meta{:content => '', :name => 'description'}/
    %meta{:content => '', :name => 'author'}/
    /[if lt IE 9]
      %script{:src => 'http://html5shim.googlecode.com/svn/trunk/html5.js'}
    = stylesheet_link_tag 'bootstrap', 'bootstrap-responsive'
    = stylesheet_link_tag :styles
    = yield_content :styles

  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          %a.brand{:href => '/'} Mapa76
          .nav-collapse
            %ul.nav
              %li.active
                %a{:href => '/'} Inicio
              %li
                %a{:href => '/documents'} Documentos
              %li
                %a{:href => '/people'} Personas
            %ul.nav.pull-right
              %li
                %form{:class => 'navbar-search pull-left'}
                  %input{:type => 'text', :class => 'search-query', :placeholder => 'Buscar'}
              %li.divider-vertical
              %li
                %a{:href => File.join(request.path_info, 'help')} Ayuda
              %li.divider-vertical
              %li
                %a{:href => '#'} usuario
          / /.nav-collapse

    .container-fluid
      .row-fluid
        .content.span9
          - if content_for?(:hero)
            .hero-unit
              = yield_content :hero
          - if content_for?(:row)
            .row-fluid
              = yield_content :row
          = yield

          %hr/
          %footer.footer
            %p{:class => 'pull-right'}
              %a{:href => '#'} Arriba

        .sidebar.span3
          - if content_for?(:sidebar)
            .well.sidebar-nav
              = yield_content :sidebar
      / /.row-fuild
    / /.container-fuild

    / Javascript
    = javascript_include_tag 'jquery-1.7.1.min'
    = javascript_include_tag 'bootstrap.min', 'bootstrap-button'
    = javascript_include_tag 'jquery.tablesorter.min'
    = javascript_include_tag :application
    = yield_content :javascripts
