!!!
%html{:lang => 'es'}
  %head
    %meta{:charset => 'utf-8'}/
    %title= [@title, 'Mapa76'].compact.join(' | ')
    %meta{:content => '', :name => 'description'}/
    %meta{:content => '', :name => 'author'}/
    /[if lt IE 9]
      %script{:src => 'http://html5shim.googlecode.com/svn/trunk/html5.js'}
    = stylesheet_link_tag 'bootstrap.min'
    = stylesheet_link_tag "redmond/jquery-ui-1.8.21.custom"
    = stylesheet_link_tag :styles
    = yield_content :styles

  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          %a.brand{:href => '/'} Mapa76
          .nav-collapse
            %ul.nav
              %li{:class => request.path_info == url(:index) ? "active" : nil}
                %a{:href => url(:index)} Inicio
              %li{:class => request.path_info.start_with?(url(:documents, :index)) ? "active" : nil}
                %a{:href => url(:documents, :index)} Documentos
              %li{:class => request.path_info.start_with?(url(:entities)) ? "active" : nil}
                %a{:href => url(:entities)} Entidades
              %li{:class => request.path_info.start_with?(url(:facts)) ? "active" : nil}
                %a{:href => url(:facts)} Hechos
              %li{:class => request.path_info.start_with?(url(:projects)) ? "active" : nil}
                %a{:href => url(:projects)} Proyectos
            %ul.nav.pull-right
              %li
                %form{:class => 'navbar-search pull-left'}
                  %input{:type => 'text', :class => 'search-query', :placeholder => 'Buscar'}
              %li.divider-vertical
              %li
                %a{:href => File.join(request.path_info, 'help')} Ayuda
              %li.divider-vertical
              %li
                %a{:href => '#'} usuario
          / /.nav-collapse

    .container-fluid
      .row-fluid
        .content.span8
          - if content_for?(:hero)
            .hero-unit
              = yield_content :hero
          - if content_for?(:row)
            .row-fluid
              = yield_content :row
          = yield
        - if content_for?(:sidebar)
          .sidebar.span4
            .sidebar-nav
              = yield_content :sidebar

    - if content_for?(:free)
      .container-fluid
        = yield_content :free

    %hr/

    %footer.footer
      %p{:class => 'pull-right'}
        %a{:href => '#'} Arriba

      / /.row-fuild
    / /.container-fuild

    / Javascript
    = javascript_include_tag 'jquery-1.7.2.min'
    = javascript_include_tag 'jquery-ui-1.8.21.custom.min', 'jq_spin_plugin'
    = javascript_include_tag 'underscore-min.js', 'backbone-min.js', 'mustache.js', 'spin.min.js'
    = javascript_include_tag 'bootstrap.min', 'bootstrap-button', 'bootstrap-alert', 'bootstrap-collapse', 'bootstrap-tab'
    = javascript_include_tag 'jquery.tablesorter.min'
    = javascript_include_tag :application
    = yield_content :javascripts
